polkit.addRule(function(action, subject) {
  if ((action.id.match("org.freedesktop.udisks2.") ||
        action.id == "org.gentoo.pkexec.gparted"
        )
      && subject.isInGroup("disks")) {
    return polkit.Result.YES
  }
})

polkit.addRule(function(action, subject) {
  if ((action.id.match("org.freedesktop.NetworkManager.") ||
       action.id.match("org.freedesktop.ModemManager1.")
        )
      && subject.isInGroup("network")) {
    return polkit.Result.YES
  }
})

polkit.addRule(function(action, subject) {
  if ((action.id.match("org.x.xf86-video-intel.backlight-helper") ||
       action.id.match("org.xfce.power.backlight-helper") ||
       action.id.match("org.xfce.thunar")
       action.id.match("org.xfce.power.xfce4-pm-helper")
       )
      && subject.isInGroup("users")) {
    return polkit.Result.YES
  }
}

polkit.addAdminRule(function(action, subject) {
    return ["unix-group:wheel"];
});

