[user]
	name = Mikhail Surin
	email = surinmike@gmail.com
[push]
	default = simple
    autoSetupRemote = true
[merge]
  conflictstyle = diff3
[core]
  excludesfile = ~/.config/git/ignore
[credential]
	helper = /usr/bin/git-credential-libsecret
[init]
    defaultBranch = main
